name: Deploy static site to Plesk via FTP

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Deploy via FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        # É aqui que está o index.html no repo
        local-dir: ./public/
        # Pasta raiz do site no Plesk
        server-dir: /httpdocs/
        exclude: |
          **/.git*
          **/.github*
          **/node_modules*
